@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* optional: nicer font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
